header{
	background-color: rgb(8, 32, 53);
}

.icon{
	padding-top: 5%;
	padding-bottom: 5%;
	float: left;
}

.searchBar{
	width: 100%;
	padding-top: 20%;
	padding-bottom: 20%;
	position: relative;
	display: flex;
}
  
.searchInput {
	width: 100%;
	border: 3px solid #17a2b8;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
}
  
.searchInput:hover{
	box-shadow: 0 0 10px #fff;;
}
  
.searchButton{
	width: 40px;
	height: 36px;
	border: 1px solid #17a2b8;
	background: #17a2b8;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	font-size: 20px;
}

.searchButton:hover {
	color: rgb(8, 32, 53);
}

.shoppingCart{
	padding-top: 20%;
	padding-bottom: 20%;
	float: right;
}

.cartButton{
	height: 36px;
	border: 2px solid #17a2b8;
	background: transparent;
	text-align: center;
	color: #17a2b8;
	border-radius: 5px;
	font-size: 20px;
}

.cartButton:hover{
	background: #17a2b8;
	color: rgb(8, 32, 53);
}

.now{
	background: #6c757d;
	border: 1px solid transparent;
	border-radius: 5px;
}

.banner{
	padding-bottom: 20px;
}

.carousel{
	padding-bottom: 20px;
}

.intro{
	padding-bottom: 20px;
}

.heading{
	color: #17a2b8;
}

.font{
	font-size: 17px;
}

.slogan{
	color: rgb(8, 32, 53);
	padding-bottom: 20px;
	text-align: center;
}

footer{
	border-top: 2px solid #17a2b8;
	background-color: rgb(8, 32, 53);
}

.paymentIcon{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	display: block;
}

.awardBar{
	width:1000px;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.awardIcon{
	margin-left: 10px;
	margin-right: 10px;
}